<link rel="stylesheet" href="/css/footerhbs.css">
<footer>
    <div class="footer">
        <ul>
            <li><a class="link-secondary" href="https://twitter.com/miscelanneo">Twitter</a></li>
            <li><a class="link-secondary" href="mailto:miscelanneo@gmail.com">Email</a></li>
            <li><a class="link-secondary" href="https://github.com/itsmisce">Github</a></li>
        </ul>
    </div>
</footer>
