<link rel="stylesheet" href="/css/homehbs.css">

<div class="container" id="main-content">
    <img src="/img/doraemon.png" alt="" id="foto-main">
    <div class="text-center">
        <h1>CRUD ANIMES JS</h1>
        <a class="btn btn-success" href="/crear">Crear un nuevo anime</a>
    </div>
</div>
